* {

  font-family: 'Open Sans', sans-serif;
 
}

main {
  background: linear-gradient(to top, white, #2a2727);
}

.navbar {
  background-color: #878080;
}


.custom-hr {

  background-color: black; /* Cor da linha */
  border: none; /* Remove qualquer borda padrão */

  width: 100%; /* A linha ocupará toda a largura do contêiner */

  height: 1.5px; /* Define a espessura da linha */

}


#sobremim {
  display: flex; /* Usa Flexbox para alinhar os itens */
  margin:3% 5%; /* Espaçamento interno */
  align-items: center;
}

#texto {
  max-width: 60%; /* Define uma largura máxima para o texto */

}

#sobremim img {
  margin-left: 5%;
  max-width: 400px; /* Define um tamanho máximo para a imagem */
  flex-shrink: 0; /* Evita que a imagem encolha */
}

body {
  background: linear-gradient(to top, white, #807c7c);
  min-height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
  display: flex;
  flex-direction: column; /* Organiza o conteúdo em uma coluna vertical */
}

header {
  font-size: 20px;
}




h1 {
  color: #000000;
  font-weight: bold;
  font-weight: 600;
  margin:0% 9.5%; 
}

h2{
  font-weight:inherit;
  text-align: left;
  flex-wrap: wrap;
  margin:0% 9.5%; 
}


#skills-container {
  margin: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


 
#contatos  {
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
}
#contatos button {

  padding-top: 3%;
  padding-bottom: 3%;
  border: none;
  background: none;
  cursor: pointer;
}


footer {
  color: #000000;
  background-color: transparent; /* Pode adicionar um fundo diferente para contraste */
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Empurra o footer para o final da página */
}













@media (max-width: 768px) {
  #sobremim {
      flex-direction: column; /* Em telas menores, organiza os itens em coluna */
      align-items: center; /* Centraliza os itens */
  }
  
  #texto {
      max-width: 100%; /* Permite que o texto ocupe toda a largura */
      text-align: center; /* Centraliza o texto */
  }

  #sobremim img {
      margin-left: 0; /* Remove a margem esquerda em telas pequenas */
      margin-top: 20px; /* Adiciona margem superior para separação */
  }
}
